@tailwind base;
@tailwind components;
@tailwind utilities;

.tags-container {
    position: relative;
}

.ReactTags__selected span.ReactTags__tag {
    position: relative;
    display: flex;
    align-items: center;
    background: #4605ff;
    color: #fff;
    min-width: 5rem;
    margin: 0 0.5rem;
    padding: 0.5rem 2rem 0.5rem 0.9rem;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 20px;
}

.ReactTags__selected a.ReactTags__remove {
    position: absolute;
    right: 0.6em;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}

.ReactTags__suggestions {
    position: absolute;
    top: 4rem;
    background-color: #efefef;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.ReactTags__suggestions ul {
    list-style-type: none;
}
.ReactTags__suggestions li {
    padding: 1rem;
    font-weight: 500;
    margin-left: -40px;
    text-align: left;
    min-width: 10rem;
}
.ReactTags__suggestions li mark {
    background: none;
    color: #4605ff;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    cursor: pointer;
}

.ReactTags__selected {
    width: max-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    background: #efefef;
    border-radius: 4px;
}

.ReactTags__tags input {
    width: 10rem;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    background: transparent;
    border: none;
    margin-left: 0.5rem;
}
