body {
  min-width: 300px;
  min-height: 1000vh;
}

.no-select {
  user-select: none;
}
#_app_icon {
  position: fixed;
  cursor: pointer;
  background-color: #888;
  opacity: 0.6;
  width: 64px;
  height: 64px;
  z-index: 999;
}
._app_icon_bottom_right {
  right: 0px;
  bottom: 0px;
  border-top-left-radius: 64px;
}
._app_icon_bottom_right #_app_open {
  right: 4px;
  bottom: 8px;
}
._app_icon_bottom_left {
  left: 0px;
  bottom: 0px;
  border-top-right-radius: 64px;
}
._app_icon_bottom_left #_app_open {
  left: 4px;
  bottom: 8px;
}
#_app_open {
  position: absolute;
  color: #000;
  font-size: 36px;
  line-height: 36px;
}
#_app_wrapper {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 300px;
  height: 700px;
  /*background-image: url(/assets/img/phone.png);*/
  z-index: 1000;
  display: none;
}
#_app_header {
  position: relative;
  cursor: move;
  width: 355px;
  height: 80px;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  overflow: hidden;
}
#_app_user {
  position: absolute;
  top: 32px;
  left: 40px;
  cursor: pointer;
  color: #000;
  font-size: 24px;
}
#_app_restart {
  position: absolute;
  top: 32px;
  right: 80px;
  cursor: pointer;
  color: #000;
  font-size: 24px;
}
#_app_close {
  position: absolute;
  top: 32px;
  right: 40px;
  cursor: pointer;
  color: #000;
  font-size: 24px;
}
#_app_screen {
  position: relative;
  cursor: pointer;
  margin-left: 22px;
  width: 311px;
  height: 553px;
  background-color: #fff;
  overflow: hidden;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}
#_app_screen p, #_app_screen li {
  font-size: 14px;
}
#_app_screen p {
  padding: 0 4px;
  text-align: justify;
}
#_app_screen ._app_key {
  font-family: Consolas;
  text-align: center;
}
#_app_screen label {
  margin: 8px 0 0 8px;
}
#_app_screen input {
  width: 295px;
  height: 30px;
  margin: 0px 8px;
  border-radius: 8px;
  border: 1px solid #777;
}
#_app_screen ._app_otp {
  font-size: 24px;
  height: 40px;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
}
#_app_screen table {
  margin: 16px 0;
}
#_app_screen ._app_missing_word {
  width: 85px;
  text-align: center;
}
#_app_screen input[type='checkbox'] {
  width: 20px;
  height: 20px;
}
#_app_screen input[type='radio'] {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
._app_checkbox {
  margin: 16px 0;
}
._app_checkbox label {
  display: inline-block;
  padding: 0 8px;
}
._app_checkbox input {
  vertical-align: middle;
}
._app_checkbox label span {
  vertical-align: middle;
  font-size: 14px;
}
#_app_screen button {
  width: 295px;
  height: 32px;
  border: none;
  border-radius: 8px;
  margin: 8px;
  background-color: #58e;
  color: #fff;
  font-weight: bold;
}
#_app_screen button._app_button_small {
  width: 139px;
}
#_app_screen button:disabled {
  background-color: #bbb;
}
#_app_screen ._app_account_btn {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: 2px solid #58e;
  background-color: #fff;
  color: #58e;
  text-align: left;
}
#_app_screen ._app_btn_check {
  float: right;
}
#_app_screen textarea {
  resize: none;
  width: 295px;
  border: 1px solid #999;
  border-radius: 8px;
  margin: 0 8px;
}
#_app_footer {
  position: relative;
  width: 355px;
  height: 79px;
  overflow: hidden;
}
#_app_back {
  position: absolute;
  left: 50%;
  margin-left: -12px;
  bottom: 36px;
  cursor: pointer;
  color: #000;
  font-size: 24px;
}
#_app_splash {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 196px;
  height: 34px;
  margin-top: -30px;
  margin-left: -98px;
  text-align: center;
  background-image: url(/assets/img/logo-full.svg);
}
#_app_splash div {
  margin-top: 40px;
  font-size: 14px;
  color: #999;
}
#_app_menu {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 56px;
  font-size: 12px;
}
._app_menu_item {
  float: left;
  text-align: center;
  width: 33%;
  height: 56px;
}
._app_menu_item i {
  font-size: 24px;
}
._app_title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 8px;
  color: #012970;
  font-weight: bold;
}
._app_section {
  font-size: 16px;
  margin-bottom: 8px;
  color: #012970;
  font-weight: bold;
  padding-left: 4px;
}
._app_scan {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
}
._app_scan_top_left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  border-top-left-radius: 20px;
}
._app_scan_top_right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  border-top-right-radius: 20px;
}
._app_scan_bottom_left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  border-bottom-left-radius: 20px;
}
._app_scan_bottom_right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  border-bottom-right-radius: 20px;
}
._app_qr {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._app_info_table {
  width: 100%;
  background-color: #eee;
  border-collapse: separate;
  border-spacing: 12px 0px;
}
._app_passphrase_table {
  width: 100%;
  font-weight: bold;
  text-align: center;
}
._app_passphrase_table td {
  width: 33%;
  height: 36px;
}
._app_back {
  position: absolute;
  top: 0px;
  left: 4px;
  font-size: 24px;
}
#_app_over {
  position: relative;
  width: 311px;
  height: 553px;
  background-color: #fff;
  z-index: 1;
  display: none;
}
#_app_over p {
  font-size: 13px;
}
#_app_screen ._app_m12 {
  margin-left: 12px;
}
#_app_screen ._app_mt16 {
  margin-top: 16px;
}
#_app_screen ._app_center {
  text-align: center;
}
#_app_screen ._app_bg_red {
  background-color: #f42;
}
._app_notif_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  color: #fff;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 60px;
  margin: -60px 0 0 -60px;
  text-align: center;
}
#_app_screen ._app_success {
  color: #4c4;
}
#_app_screen ._app_success_bg {
  background-color: #4c4;
}
#_app_screen ._app_error {
  color: #f42;
}
#_app_screen ._app_error_bg {
  background-color: #f42;
}
._app_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
}
#_app_screen ._app_msg_field {
  font-weight: bold;
}
#_app_screen ._app_info {
  text-align: center;
  font-weight: bold;
  color: #012970;
}
