@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply py-2 px-2  text-gray-800 font-semibold rounded-md shadow-md focus:outline-none focus:ring focus:ring-opacity-75;
    }

    .btn-highlight {
        @apply bg-green-400;
    }

    .title {
        @apply text-2xl font-extrabold dark:text-white mb-2;
    }

    input {
        @apply focus:ring-green-400;
    }

    .words-row {
        @apply flex flex-row gap-4 mb-4;
    }

    .word-group {
        @apply flex flex-row justify-center items-center;
    }

    .word-input {
        @apply border-2 ring-green-300 rounded-lg p-1;
    }



    .word-group label {
        @apply p-1 w-6;
    }

    h1 {
        @apply text-2xl font-extrabold dark:text-white mb-2;
    }

    h2 {
        @apply text-xl font-extrabold dark:text-white mb-2;
    }

    h3 {
        @apply text-lg font-extrabold dark:text-white mb-2;
    }

    p {
        @apply mb-2;
    }

    .parameter-group {
        @apply mb-5;
    }

    .parameter-title {
        @apply mb-2 font-bold;
    }

    .parameter-description {
        @apply mb-1;
    }

    .parameter-input {
        @apply border-2 border-gray-200 rounded w-full py-2 px-4;
    }

    .parameter-input[readonly] {
        @apply bg-gray-200 appearance-none text-gray-700;
    }

    #event-approval-table {
        display: block;
        width: 100%;
        overflow-x: auto;
        max-width: 100%;
    }

    #event-approval-data {
        width: 100%;
        display: table;
    }

    #event-approval-data .event-approval-data-key {
        @apply font-bold;
    }
    #event-approval-data tr {
        background-color: #090030;
        @apply text-white;
    }

    #event-approval-data tr:not(:last-child) {
        @apply border-gray-200;
        border-bottom: 1px;
        border-style: solid;
    }

    #event-approval-data tr:first-child, #event-approval-data tr:first-child td:first-child {
        border-top-left-radius: 5px;
    }
    #event-approval-data tr:first-child, #event-approval-data tr:first-child td:last-child {
        border-top-right-radius: 5px;
    }
    #event-approval-data tr:last-child, #event-approval-data tr:last-child td:first-child {
        border-bottom-left-radius: 5px;
    }
    #event-approval-data tr:last-child, #event-approval-data tr:last-child td:last-child {
        border-bottom-right-radius: 5px;
    }

    #event-approval-data tr:last-child {
        @apply rounded-b-md;
    }

    #event-approval-data .event-approval-data-value {
        text-align: right;
    }

    #event-approval-data td {
        @apply p-1;
    }

}